<!DOCTYPE html>
<html>
<head>
    <title>Заголовок страницы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body style="background-color: rgb(255, 253, 245);">
<link href="style.css" rel="stylesheet" type="text/css">
<header>
    <div class="image">
        <img style="height: 690px; object-fit: cover;" src="https://psv4.userapi.com/c909218/u240302302/docs/d51/1df7e6b43c2b/IMG_5561.jpg?extra=m9lDS3DYdgsB3GVT7hdZ0AEC9l4k9lgeFrCIcfNUzVkZVkU251gIIdviQpPBAgN0nOJGDmDZcFqFjHWw8sOie3IqOO_lE-gI7SNDy6xHOJXky9-DBX530Ojm0iYlJe2zCBH7QMCAeUye4-TqVX8WETAi1g" alt="SctAa.gif">
        <div class="image-text1"><span>Доставка песка в Истре и области без посредников, напрямую с карьера</span>
            <p class="image-text2">Низкие цены от 600р за м³ за счёт: своего автопарка, современной логистической системы и отсутствия посредников. Заказ от 20 м³. Отгрузка точно по весам. Все виды и фракции песка. ГОСТ.
                <br></br><a href="#container"><button type="button" style="background-color: mediumseagreen;" class="btn btn-success">Оставить заявку</button></a></p>
        </div>
    </div>
</header>
<link HREF="style.css" rel="stylesheet">
<div class="row row1">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card1">
            <div class="card-body">
                <h5 class="card-title">Я знаю
                    какой песок мне нужен</h5>
                <p class="card-text">Если вы знаете какой песок нужен — вид, фракция, ГОСТ, точный объем. Оставьте заявку. Мы предложим вам лучшие условия.</p>
                <a href="#container" class="btn btn-warning btn1">Оставьте заявку</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 colsize">
        <div class="card1">
            <div class="card-body">
                <h5 class="card-title">Я НЕ знаю
                    какой песок мне нужен</h5>
                <p class="card-text">Это норма. Позвоните или напишите. Расскажите о задаче, и наш специалист точно расскажет, какой песок подойдёт. Он делает это 20-30 раз в день и всегда оказывается прав. Телефон: +79775935401</p>
                <a href="tel:+79775935401" class="btn btn-warning btn1">Позвонить</a>
            </div>
        </div>
    </div>
</div>
<div class="marquee">
    <div class="track">
        <div class="content">&nbsp;Песок карьерный |
            Песок мытый |
            Песок сеяный |
            ПГС (песчано-гравийная смесь) |
            Пескогрунт |
            Щебень |
            Суглинок |
            Глина |
            Гравий |
            Песок карьерный |
            Песок мытый |
            Песок сеяный |
            ПГС (песчано-гравийная смесь) |
            Пескогрунт |
            Щебень |
            Суглинок |
            Глина |
            Гравий |
            Песок карьерный |
            Песок мытый |
            Песок сеяный |
            ПГС (песчано-гравийная смесь) |
            Пескогрунт |
            Щебень |
            Суглинок |
            Глина |
            Гравий |
            Песок карьерный |
            Песок мытый |
            Песок сеяный |
            ПГС (песчано-гравийная смесь) |
            Пескогрунт |
            Щебень |
            Суглинок |
            Глина |
            Гравий |</div>
    </div>
</div>
<div class="price">
    <h2 class="t1">Прайс-лист</h2>
</div>
<div class="card-group card-group1 row row-cols-1 row-cols-md-5 g-4" style="width: 90%; margin: auto; background-color: rgb(255, 253, 245);" >
    <div class="col">
        <div class="card h-100 shadow">
            <img src="pesok-karii.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Песок карьерный</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="mytii-pesok.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Песок мытый</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Песок сеяный</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="pgs_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">ПГС (песчано-гравийная смесь)</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="peskogrunt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Пескогрунт</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="sch5-20.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Щебень 5/20</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="sch20-40-gr.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Щебень 20/40</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="sch40-70-gr.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Щебень 40/70</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="noroo.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Суглинок</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="glina.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Глина</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col" style="margin-left: 20%;">
        <div class="card h-100 shadow">
            <img src="grav520.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Гравий 5/20</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="grav2040b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Гравий 20/40</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="grav40.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Гравий 40/70</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
</div>

<div class="price">
    <h2 class="t1">Как с нами работать?</h2>
</div>
<!--card-group row row-cols-1 row-cols-md-5 g-4-->
<div class="card-group card-group2 row row-cols-1 row-cols-md-3 g-4" style="width: 80%; margin: auto">
    <div class="col">
        <div class="card text-center h-100 shadow-sm">
            <div class="card-header" style="text-align: center">
                <h2>Оставляете заявку</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">Позвоните или Оставте заявку. Поможем и расчитаем стоимость за 5 минут.</p>
                    </div>
                    <div class="col">
                        <img src="car2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center">
                <small class="text-body-secondary">Не забываем про заказы</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center h-100 shadow-sm">
            <div class="card-header" style="text-align: center">
                <h2>Договариваемся</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">Договариваемся с вами. Уточняем адрес, согласуем время поставки.</p>
                    </div>
                    <div class="col">
                        <img src="sand.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center">
                <small class="text-body-secondary">Согласованные цены гарантированно не изменятся</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center h-100 shadow-sm">
            <div class="card-header" style="text-align: center">
                <h2>Привозим песок</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-text">Доставка и прием оплаты. Всегда вовремя. Выгружаем, принимаем оплату</p>
                    </div>
                    <div class="col">
                        <img src="car.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center">
                <small class="text-body-secondary">Не подводим клиентов, знаем что на доставку песка завязаны другие процессы</small>
            </div>
        </div>
    </div>
</div>

<div class="pricecalc">
    <h2 class="t1">Оставить заявку</h2>
</div>
<div class="my-3 p-3">
    <form action="/" method="POST" class="form-container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-color">Ваш номер телефона</label>
            <input class="form-control" id="exampleFormControlInput1" placeholder="+79999999999" name="phoneNumber" required/>
            <label for="exampleFormControlInput" class="form-label text-color">Ваше имя</label>
            <input class="form-control" id="exampleFormControlInput" placeholder="Иван" name="name"/>
            <!--        <button type="submit">+</button>-->
        </div>
        <div id="container">
            <div id="list_materials" class="input-group mb-3" style="background-color: rgb(255, 255, 255);">
                <!--        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>-->
                <select id="select_materials1" class="btn btn-outline-secondary dropdown-toggle select_materials" name="whatMaterial1">
                    <option value="1">Песок карьерный</option>
                    <option value="2">Песок мытый</option>
                    <option value="3">Песок сеяный</option>
                    <option value="4">ПГС (песчано-гравийная смесь)</option>
                    <option value="6">Пескогрунт</option>
                    <option value="5">Щебень 5/20</option>
                    <option value="7">Щебень 20/40</option>
                    <option value="8">Щебень 40/70</option>
                    <option value="9">Суглинок</option>
                    <option value="10">Глина</option>
                    <option value="11">Гравий 5/20</option>
                    <option value="12">Гравий 20/40</option>
                    <option value="13">Гравий 40/70</option>

                </select>
                <input id="input_materials1" name="value1" class="form-control" placeholder="Укажите объем в м3" aria-label="Text input with dropdown button">
                <button type="button" style="background-color: rgb(233, 159, 25); color: white;" class="btn btn-info" onclick="addInput()">+</button>
                <!--            <button type="button" class="btn btn-info" onclick="addInput()">+</button>-->
            </div>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm2">Пункт назначения</span>
            <input name="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="г. Москва">
        </div>

        <!--    Date -->
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm3 ">Удобная дата поставки</span>
            <input name="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="12.12.1212">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label text-color">Комментарий к заказу</label>
            <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" style="background-color: rgb(233, 159, 25); color: white" class="btn btn-warning btn-lg margin-auto" onclick="final_values()">Оставить заявку</button>
    </form>
</div>
<footer>
    <div class='cr-con'>Copyright &copy; 2023 | Доставка с карьера | Made by M&G</div>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</html>