<!DOCTYPE html>
<html>
<head>
    <title>Заголовок страницы</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css">
    <script src="script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<!--kbrf-->
<body style="background-color: rgb(255, 253, 245);">
<style>.image {
    margin: auto;
    background: #000;
}
.image img {
    width: 100%;
    opacity: 0.2;
    background-size: cover;
}

.image-text1 {
    width: 1200px;
    line-height: 59px;
    text-align: center;
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Roboto',Arial,sans-serif;
    top: 170px;
    left: 23%;
    right: 50%;
    margin-left: -170px;
    color: white;
    border-radius: 6px;
}

.image-text2 {
    width: 1100px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    font-size: 21px;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 900;
    top: 170px;
    left: 17%;
    right: 48%;
    margin-left: -170px;
    color: white;
    border-radius: 6px;
}

.btn {
    width: 220px;
    height: 50px;
}
.marquee {
    padding-top: 6px;
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 40px;
    overflow-x: hidden;
    background-color: white;
}

.track {
    color: #000;
    font-size: 21px;
    font-family: 'Roboto',Arial,sans-serif;
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.price{
    padding-top: 50px;
    padding-bottom: 14px;
    margin: auto;
}

.pricecalc{
    padding-top: 110px;
    padding-bottom: 1px;
    margin: auto;
}

.t1{
    margin: auto;
    text-align: center;
    font-family: 'Roboto',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: 42px;
    line-height: 1.23;
}

.card-group{
    width: 60%;
    margin: auto;
    background-color: rgb(255, 253, 245);
    border-radius: 0%;
}
.form-container {
    width: 60%;
    margin: 0 auto;
}

.btn-info{
    width: 10%;
    background-color: rgb(233, 159, 25);
    color: white;
}
.btn-danger{
    width: 10%;
}

.shadow{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);;
}
</style>
<header>
    <div class="image">
        <img style="height: 690px; object-fit: cover;" src="https://s11.gifyu.com/images/SctAa.gif" alt="SctAa.gif"
        >
        <h1 class="image-text1">Доставка песка в Истре и области без посредников, напрямую с карьера
            <span class="image-text2">Низкие цены от 600р за м³ за счёт: своего автопарка, современной логистической системы и отсутствия посредников. Заказ от 20 м³. Отгрузка точно по весам. Все виды и фракции песка. ГОСТ.
              <p style=line-height:7;><a href="#container"><button type="button" class="btn btn-success">Оставить заявку</button></a>
              </span>
        </h1>
    </div>
</header>
<div class="marquee">
    <div class="track">
        <div class="content">&nbsp;Песок карьерный |
            Песок мытый |
            Песок сеяный |
            ПГС (песчано-гравийная смесь) |
            Пескогрунт |
            Щебень |
            Суглинок |
            Глина |
            Гравий |
            Песок карьерный |
            Песок мытый |
            Песок сеяный |
            ПГС (песчано-гравийная смесь) |
            Пескогрунт |
            Щебень |
            Суглинок |
            Глина |
            Гравий |</div>
    </div>
</div>
<div class="price">
    <h2 class="t1">Прайс-лист</h2>
</div>
<div class="card-group row row-cols-1 row-cols-md-5 g-4" style="width: 90%; margin: auto; background-color: rgb(255, 253, 245);" >
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Песок карьерный</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Песок строительный</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="https://static.tildacdn.com/tild3263-3165-4538-a230-636363656638/karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Гравий</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">песчано-гравийная смесь(ПГС)</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Щебень природный</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Пескогрунт</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Грунт</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Супесь</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Суглинок</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Глина</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col" style="margin-left: 20%;">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Булыжник</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Валун для ландшафта</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100 shadow">
            <img src="karier-pesok_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Ландшафтный камень</h5>
                <p class="card-text">Цена за тонну от ... руб. за м3 от ... руб.</p>
            </div>
        </div>
    </div>
</div>
<div class="price">
    <h2 class="t1">Как с нами работать?</h2>
</div>
<!--card-group row row-cols-1 row-cols-md-5 g-4-->
<div class="card-group row row-cols-1 row-cols-md-3 g-4" style="width: 80%; margin: auto">
    <div class="col">
        <div class="card text-center h-100 shadow">
            <div class="card-header" style="text-align: center">
                <h3>Оставте заявку</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="col">
                        <img src="https://github.com/MV7VM/site_for_sale_with_notification/blob/main/views/car2.png?raw=true" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center">
                <small class="text-body-secondary">Не забываем про заказы</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center h-100 shadow">
            <div class="card-header" style="text-align: center">
                <h3>Договариваемся</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="col">
                        <img src="https://github.com/MV7VM/site_for_sale_with_notification/blob/main/views/sand.png?raw=true" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center">
                <small class="text-body-secondary">Согласованные цены гарантированно не изменятся</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center h-100 shadow">
            <div class="card-header" style="text-align: center">
                <h3>Привозим песок</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                    <div class="col">
                        <img src="car.png" alt="">
                    </div>
                </div>
            </div>
            <div class="card-footer" style="text-align: center">
                <small class="text-body-secondary">Не подводим клиентов, знаем что на доставку песка завязаны другие процессы</small>
            </div>
        </div>
    </div>

</div>
<div class="application-form" style="width: 80%; margin: auto">
<div class="pricecalc">
    <h2 class="t1">Оставить заявку</h2>
</div>
<div class="my-3 p-3">
    <form action="/" method="POST" class="form-container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label text-color">Ваш номер телефона</label>
            <input class="form-control shadow-sm" id="exampleFormControlInput1" placeholder="+79999999999" name="phoneNumber"/>
            <label for="exampleFormControlInput" class="form-label text-color">Ваше имя</label>
            <input class="form-control shadow-sm" id="exampleFormControlInput" placeholder="Иван" name="name"/>
            <!--        <button type="submit">+</button>-->
        </div>
        <div id="container">
            <div id="list_materials" class="input-group mb-3 shadow-sm" style="background-color: rgb(255, 255, 255);">
                <!--        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>-->
                <select id="select_materials1" class="btn btn-outline-secondary dropdown-toggle select_materials" name="whatMaterial1">
                    <option value="1">Песок карьерный</option>
                    <option value="2">Песок мытый</option>
                    <option value="3">Песок сеяный</option>
                    <option value="4">ПГС (песчано-гравийная смесь)</option>
                    <option value="6">Пескогрунт</option>
                    <option value="5">Щебень 5/20</option>
                    <option value="7">Щебень 20/40</option>
                    <option value="8">Щебень 40/70</option>
                    <option value="9">Суглинок</option>
                    <option value="10">Глина</option>
                    <option value="11">Гравий 5/20</option>
                    <option value="12">Гравий 20/40</option>
                    <option value="13">Гравий 40/70</option>

                </select>
                <input id="input_materials1" name="value1" class="form-control" placeholder="Укажите объем в м3" aria-label="Text input with dropdown button">
                <button type="button" style="background-color: rgb(233, 159, 25); color: white;" class="btn btn-info" onclick="addInput()">+</button>
                <!--            <button type="button" class="btn btn-info" onclick="addInput()">+</button>-->
            </div>
        </div>
        <div class="input-group input-group-sm mb-3 shadow-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm2">Пункт назначения</span>
            <input name="address" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="г. Москва">
        </div>

        <!--    Date -->
        <div class="input-group input-group-sm mb-3 shadow-sm">
            <span class="input-group-text" id="inputGroup-sizing-sm3 ">Удобная дата поставки</span>
            <input name="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="12.12.1212">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label text-color">Комментарий к заказу</label>
            <textarea name="comment" class="form-control shadow-sm" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" style="background-color: rgb(233, 159, 25);" class="btn btn-primary btn-lg margin-auto" onclick="final_values()">Оставить заявку</button>
    </form>
</div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>