<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script href="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <style>
        .form-container {
            width: 30%;
            margin: 0 auto;
        }
        .margin-auto{
            margin-left: 38.141%;
            background-color: #15c701;
        }
        #select_materials{
            width: 30%;
        }
        @media(max-width: 540px){
            #select_materials{
                width: 40%;
            }
            .form-container {
                width: 90%;
                margin: 0 auto;
            }
            .margin-auto{
                margin-left: 25%;
                background-color: #15c701;
            }
        }
    </style>
</head>
<body>

<form class="form-container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ваш номер телефона</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="+79999999999">
    </div>

<!--    list for material-->
    <script>
        function addInput() {
            var container = document.getElementById("container");
            var newDiv = document.createElement("div");
            newDiv.id = "list_materials";
            newDiv.className = "input-group mb-3";

            var select = document.createElement("select");
            select.className = "btn btn-outline-secondary dropdown-toggle";

            var option1 = document.createElement("option");
            option1.value = "1";
            option1.innerHTML = "Песок карьерный";
            select.appendChild(option1);

            var option2 = document.createElement("option");
            option2.value = "2";
            option2.innerHTML = "Песок строительный";
            select.appendChild(option2);

            var option3 = document.createElement("option");
            option3.value = "3";
            option3.innerHTML = "Гравий";
            select.appendChild(option3);

            var option4 = document.createElement("option");
            option4.value = "4";
            option4.innerHTML = "ПГС (песчано-гравийная смесь)";
            select.appendChild(option4);
            var option5 = document.createElement("option");
            option5.value = "5";
            option5.innerHTML = "Щебень природный";
            select.appendChild(option5);
            var option6 = document.createElement("option");
            option6.value = "6";
            option6.innerHTML = "Пескогрунт";
            select.appendChild(option6);
            var option7 = document.createElement("option");
            option7.value = "7";
            option7.innerHTML = "Грунт";
            select.appendChild(option7);
            var option8 = document.createElement("option");
            option8.value = "8";
            option8.innerHTML = "Супесь";
            select.appendChild(option8);
            var option9 = document.createElement("option");
            option9.value = "9";
            option9.innerHTML = "Суглинок";
            select.appendChild(option9);
            var option10 = document.createElement("option");
            option10.value = "10";
            option10.innerHTML = "Глина";
            select.appendChild(option10);
            var option11 = document.createElement("option");
            option11.value = "11";
            option11.innerHTML = "Булыжник";
            select.appendChild(option11);
            var option12 = document.createElement("option");
            option12.value = "12";
            option12.innerHTML = "Валун для ландшафта";
            select.appendChild(option12);
            var option13 = document.createElement("option");
            option13.value = "13";
            option13.innerHTML = "Ландшафтный камень";
            select.appendChild(option13);


            var input = document.createElement("input");
            input.type = "text";
            input.className = "form-control";
            input.placeholder = "Укажите объем";
            input.setAttribute("aria-label", "Text input with dropdown button");

            var addButton = document.createElement("button");
            addButton.type = "button";
            addButton.className = "btn btn-info";
            addButton.innerHTML = "+";
            addButton.onclick = addInput;

            var removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.className = "btn btn-danger";
            removeButton.innerHTML = "Удалить";
            removeButton.onclick = function() {
                container.removeChild(newDiv);
            };

            newDiv.appendChild(select);
            newDiv.appendChild(input);
            newDiv.appendChild(addButton);
            newDiv.appendChild(removeButton);

            container.appendChild(newDiv);
        }
        function delInput(){
            var container = document.getElementById("container");
        }
    </script>
    <div id="container">
        <div id="list_materials" class="input-group mb-3">
    <!--        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>-->
            <select id="select_materials" class="btn btn-outline-secondary dropdown-toggle">
                <option value="1">Песок карьерный</option>
                <option value="2">Песок строительный</option>
                <option value="3">ПГС (песчано-гравийная смесь)</option>
                <option value="3">Щебень природный</option>
                <option value="3">Пескогрунт</option>
                <option value="3">Грунт</option>
                <option value="3">Супесь</option>
                <option value="3">Суглинок</option>
                <option value="3">Глина</option>
                <option value="3">Булыжник</option>
                <option value="3">Валун для ландшафта</option>
                <option value="3">Ландшафтный камень</option>
    <!--            <option><hr class="dropdown-divider"></option>-->
            </select>
            <input type="text" class="form-control" placeholder="Укажите объем" aria-label="Text input with dropdown button">
            <button type="button" class="btn btn-info" onclick="addInput()">+</button>
<!--            <button type="button" class="btn btn-info" onclick="addInput()">+</button>-->
        </div>
    </div>



    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm2">Пункт назначения</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="г. Москва">
    </div>

<!--    Date -->
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm3">Удобная дата поставки</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" placeholder="12.12.1212">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Комментарий к заказу</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-lg margin-auto">Оставить заявку</button>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>